@font-face {
    font-family: 'ubuntucondensed';
    src: url(../fonts/ubuntucondensed.ttf) format('truetype');
}

body {
    background-color: grey;
    font-family: 'ubuntucondensed';
    color: white;
    position: absolute;
}

#main {
    width: 800px;
    height: 380px;
    background-color: black;
    /* border: 2px solid gray;*/
    
    font-size: 24px;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

#topbar {
    text-align: center;
    height: 65px;
    position: absolute;
}

.homeimage {
    width: 39px;
    height: 39px;
    padding: 3px;
    border: 2px white solid;
    border-radius: 5px;
}

.homebutton {
    position: absolute;
    width: 69px;
    height: 59px;
    padding-top: 5px;
}

.title {
    font-size: 36px;
    position: absolute;
    left: 275px;
    top: 11px;
    width: 250px;
}

.closeimage {
    width: 35px;
    height: 35px;
    padding: 5px;
    border: 2px white solid;
    border-radius: 5px;
}

.closebutton {
    position: absolute;
    padding-top: 5px;
    width: 69px;
    height: 59px;
    left: 731px;
}
/*landingpage*/

.mainmenutext {
    border: 2px white solid;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 5px;
    margin: 10px;
    width: 196px;
    font-size: 32px;
    color: white;
    background-color: #308446;
    text-align: center;
}
/*  WAT IS GOING ON!! */

.mainmenubutton {
    height: 70px;
    width: 220px;
    font-size: 32px;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 295px;
}

.mainmenubuttontop {
 	top: 100px;
}

.mainmenubuttonmid {
    top: 180px;
}

.mainmenubuttonbottom {
    top: 260px;
}

.mainmenutext:hover {
    background-color: #3ba557;
}