<div id="topbar">
    <div class="title">STATES & PLATES</div>
    <div>
        <a href="#/" class="closebutton">
            <image class="closeimage" src="./images/closebutton.png" />
        </a>
    </div>
</div>
<div>
    <a class="mainmenubutton mainmenubuttontop" href="#/newgamewelcome">
        <div class="mainmenutext">New Game</div>
    </a>
</div>
<div>
    <a class="mainmenubutton mainmenubuttonmid" href="#/continuegamewelcome">
        <div class="mainmenutext">Continue Game</div>
    </a>
</div>
<div>
    <a class="mainmenubutton mainmenubuttonbottom" href="#/leaderboard">
        <div class="mainmenutext">Leaderboard</div>
    </a>
</div>
<div>
    <a class="aboutbutton" href="#/about">
        <div class="abouttext">About</div>
    </a>
</div>