<div>
    <a class="mainmenubutton mainmenubuttontop" href="#/newgamewelcome">
        <div class="mainmenutext">New Game</div>
    </a>
</div>
<div>
    <a class="mainmenubutton mainmenubuttonmid" href="www.google.com">
        <div class="mainmenutext">Continue Game</div>
    </a>
</div>
<div>
    <a class="mainmenubutton mainmenubuttonbottom" href="www.google.com">
        <div class="mainmenutext">Leaderboard</div>
    </a>
</div>

<div>
    <a class="aboutbutton" href="#/about">
        <div class="abouttext">About</div>
    </a>
</div>