<div>
    <div class="welcomemessage"><span class="textunderline largefont">LEADERBOARD</span>
        <table class="leaderboard">
            <tr>
                <th class="leadercolumn leadercolumnone">Rank</th>
                <th class="leadercolumn leadercolumntwo">Name</th>
                <th class="leadercolumn leadercolumnthree">Plates found</th>
                <th class="leadercolumn leadercolumnfour">Score</th>
            </tr>
            <tr class="rowodd">
                <td class="leadercolumn leadercolumnone">1st</td>
                <td class="leadercolumn leadercolumntwo">Eve</td>
                <td class="leadercolumn leadercolumnthree">32</td>
                <td class="leadercolumn leadercolumnfour">39,089</td>
            </tr>
            <tr>
                <td class="leadercolumn leadercolumnone">2nd</td>
                <td class="leadercolumn leadercolumntwo">Kevin</td>
                <td class="leadercolumn leadercolumnthree">28</td>
                <td class="leadercolumn leadercolumnfour">23,424</td>
            </tr>
            <tr class="rowodd">
                <td class="leadercolumn leadercolumnone">3rd</td>
                <td class="leadercolumn leadercolumntwo">Janice</td>
                <td class="leadercolumn leadercolumnthree">23</td>
                <td class="leadercolumn leadercolumnfour">11,321</td>
            </tr>
            <tr>
                <td class="leadercolumn leadercolumnone">4th</td>
                <td class="leadercolumn leadercolumntwo">Alice</td>
                <td class="leadercolumn leadercolumnthree">21</td>
                <td class="leadercolumn leadercolumnfour">8,766</td>
            </tr>
            <tr class="rowodd">
                <td class="leadercolumn leadercolumnone">5th</td>
                <td class="leadercolumn leadercolumntwo">Stan</td>
                <td class="leadercolumn leadercolumnthree">10</td>
                <td class="leadercolumn leadercolumnfour">3,456</td>
            </tr>
        </table>
    </div>
</div>