<div>
    <div class="letterSelectButton">
        <div class="letterSelect">AL - GA</div>
        <div class="letterSelect">HI - MD</div>
        <div class="letterSelect">MA - NJ</div>
        <div class="letterSelect">NM - SC</div>
        <div class="letterSelect">SD - WY</div>
    </div>
    <div class="licensePlateDisplay">
        <div class="plateInfoDiv">
            <a  class="plateInfo">
                <img class="plateImage" src="./images/AL-default.jpg" /><div class="plateState">Alabama</div>
            </a>
            <a class="plateInfo">
                <img class="plateImage" src="./images/AK-default.jpg" /><div class="plateState">Alaska</div></a>
            <a class="plateInfo">
                <img class="plateImage" src="./images/AZ-default.jpg" /><div class="plateState">Arizona</div>
            </a>
            <a class="plateInfo">
                <img class="plateImage" src="./images/AR-default.jpg" /><div class="plateState">Arkansas</div></a>
            <a class="plateInfo">
                <img class="plateImage" src="./images/CA-default.jpg" /><div class="plateState">California</div>
            </a>
        </div>
        <div class="plateScrollButton plateScrollButtonRight"><img class="" src="./images/rightarrow.gif" /></div>
        <div class="plateScrollButton plateScrollButtonLeft"><img class="" src="./images/leftarrow.gif" /></div>
    </div>
    <div class="scorebutton scoreplates">Scores:
    	<div class=""></div>
    </div>
</div>