<div>
    <div class="licensePlateDisplay">
        <div class="letterSelectButton"><div class="letterSelect">A - G</div>
            <div class="letterSelect">H - Mar</div>
            <div class="letterSelect">Mas - NJ</div>
            <div class="letterSelect">NM - SC</div>
            <div class="letterSelect">SD - W</div>
        </div>
        <div class="plateInfoDiv">
            <span class="plateInfo">
            	<div class="plateState">Alabama</div><img class="plateImage" src="./images/AL-default.jpg" />
        	</span>
            <span class="plateInfo">
            	<div class="plateState">Alaska</div><img class="plateImage" src="./images/AK-default.jpg" /></span>
            <span class="plateInfo">
            	<div class="plateState">Arizona</div><img class="plateImage" src="./images/AZ-default.jpg" />
        	</span>
            <span class="plateInfo">
            	<div class="plateState">Arkansas</div><img class="plateImage" src="./images/AR-default.jpg" /></span>
            <span class="plateInfo">
            	<div class="plateState">California</div><img class="plateImage" src="./images/CA-default.jpg" />
        	</span>
        </div>
        <div class="plateScrollButton plateScrollButtonRight"></div>
    </div>
    <div class="scorebutton scoreplates">Player scores:
    </div>
    <div class="scorebutton scoreplayers">Player stats
    </div>
</div>