<div id="topbar">
    <div>
        <a href="#/" class="homebutton">
            <image class="homeimage" src="./images/leftarrow.gif" />
        </a>
    </div>
    <div class="title">STATES & PLATES</div>
    <div>
        <a href="#/" class="closebutton">
            <image class="closeimage" src="./images/closebutton.png" />
        </a>
    </div>
</div>
<div ng-controller="plateController as plateCtrl">
    <div class="letterSelectButton">
        <a class="letterSelect" href="" ng-mousedown="plateCtrl.currentPage = 0">AL - GA</a>
        <a class="letterSelect" href="" ng-mousedown="plateCtrl.currentPage = 2">HI - MD</a>
        <a class="letterSelect" href="" ng-mousedown="plateCtrl.currentPage = 4">MA - NJ</a>
        <a class="letterSelect" href="" ng-mousedown="plateCtrl.currentPage = 6">NM - SC</a>
        <a class="letterSelect" href="" ng-mousedown="plateCtrl.currentPage = 8">SD - WY</a>
    </div>
    <div class="plateInfoDiv">
        <span ng-repeat="plate in plateCtrl.plateArray | startFrom:plateCtrl.currentPage*plateCtrl.pageSize | limitTo: plateCtrl.pageSize" id="{{plate.abbreviation}}">
        <button class="plateInfo" ng-mousedown="plateCtrl.getPlate($index+(plateCtrl.currentPage*5)); plateCtrl.goToScore('/scorescreen')" ng-disabled="plate.isFound" id="{{plate.isFound}}">
            <img class="plateImage" src="./images/{{plate.abbreviation}}-default.jpg" />
            <div class="plateState">{{plate.fullname}}</div>
        </button></span>
    </div>
    <div class="licensePlateDisplay">
        <div>
            <a class="plateScrollButton plateScrollButtonRight" ng-hide="plateCtrl.currentPage >= plateCtrl.plateArray.length/plateCtrl.pageSize - 1" href="" ng-mousedown="plateCtrl.currentPage = plateCtrl.currentPage + 1"><img class="arrow" src="./images/rightarrow.gif" /></a>
        </div>
        <a class="plateScrollButton plateScrollButtonLeft" href="" ng-hide="plateCtrl.currentPage == 0" ng-mousedown="plateCtrl.currentPage = plateCtrl.currentPage - 1"><img class="arrow" src="./images/leftarrow.gif" /></a>
    </div>
    <div class="scorebutton scoreplates" ng-mousedown="plateCtrl.goToScore('/win')">
        <div class="testingbox">
            <div class="testing" ng-repeat="player in plateCtrl.showPlayers()">Player {{player.playerNumber}}: {{player.score}} pts</div>
        </div>
    </div>