<div>
    <div class="welcomemessage">Welcome! How many players are there?
        <a class="playerbuttonlink playerbuttonone" href="#/maingamescreen">
            <img src="./images/yellowdiamond2.gif" class="yellowdiamond" /><div class="playerbuttontext">1</div>
        </a>
        <a class="playerbuttonlink playerbuttontwo" href="#/maingamescreen">
            <img src="./images/yellowdiamond2.gif" class="yellowdiamond" /><div class="playerbuttontext">2</div>
        </a>
        <a class="playerbuttonlink playerbuttonthree" href="#/maingamescreen">
            <img src="./images/yellowdiamond2.gif" class="yellowdiamond" /><div class="playerbuttontext">3</div>
        </a>
        <a class="playerbuttonlink playerbuttonfour" href="#/maingamescreen">
            <img src="./images/yellowdiamond2.gif" class="yellowdiamond" /><div class="playerbuttontext">4</div>
        </a>
    </div>
</div>