<div id="topbar">
    <div>
        <a href="#/" class="homebutton">
            <image class="homeimage" src="./images/leftarrow.gif" />
        </a>
    </div>
    <div class="title">STATES & PLATES</div>
    <div>
        <a href="#/" class="closebutton">
            <image class="closeimage" src="./images/closebutton.png" />
        </a>
    </div>
</div>
<div>
    <div class="welcomemessage">Oh no! Looks like you already have a saved game. Do you want to overwrite it?
        <a class="overwritebuttonlink overwritebuttonone" href="#/newgamewelcome">
            <div class="overwritebuttontext">Yes</div>
        </a>
        <div class="smalltextoverwrite smalltextoverwriteone">( Start new game )</div>
        <a class="overwritebuttonlink overwritebuttontwo" href="#/continuegamewelcome">
            <div class="overwritebuttontext">No
                <br/>
            </div>
        </a>
        <div class="smalltextoverwrite smalltextoverwritetwo">( Continue saved game )</div>
    </div>
</div>