<div>
    <div class="welcomemessage">Welcome! How many players are there?
        <a class="playerbuttonlink playerbuttonone" href="#/maingamescreen">
            <div class="playerbuttontext">1</div>
        </a>
        <a class="playerbuttonlink playerbuttontwo" href="">
            <div class="playerbuttontext">2</div>
        </a>
        <a class="playerbuttonlink playerbuttonthree" href="">
            <div class="playerbuttontext">3</div>
        </a>
        <a class="playerbuttonlink playerbuttonfour" href="">
            <div class="playerbuttontext">4</div>
        </a>
    </div>
</div>